.example-component {
  background-color: #ddd;
  padding: 4px 8px;
  border-radius: 6px;
  max-width: 300px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-component .text {
  font-style: italic;
}
