.rounded-circle {
  width: 78x;
  height: 78px;
  text-align: center;
  font-size: 25px;
  background-color: C4C4C4;
  border-radius: 50%;
  border: #293a7d solid 4px;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}

.rounded-circle .logo {
  display: block;
}
