.rounded-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  background-color: #f6f6f6;
  border-radius: 50%;
  border: #293a7d solid 4px;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}

.rounded-circle .logo {
  display: block;
}
