.select-css {
  display: block;
  width: 300px;
  padding-left: 1rem;
  padding-right: 30px;
  border-radius: 2rem;
  border: 1px solid #bdbdbd;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  color: #bdbdbd;
  height: 3rem;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns ="http://www.w3.org/2000/svg" width="100" height="50"><polygon points ="0,0 100,0 50,50" style ="fill:%23C4C4C4;"/></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}
