/* AppHeader */
/* BG */
.AppHeader-div {
  background: #f8f8f8;
  width: 414px;
  height: 59px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.AppHeader-div img {
  position: absolute;
  left: 5.8%;
  right: 79.95%;
  top: 23.73%;
  bottom: 25.42%;
}

@media screen and (min-width: 600px) {
  .AppHeader-div {
    background: #f8f8f8;
    width: 100%;
    height: 59px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }

  .AppHeader-div img {
    position: absolute;
    left: 5.8%;
    right: 79.95%;
    top: 23.73%;
    bottom: 25.42%;
  }
}
