.input-component {
  display: block;
  width: 400px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  font: Roboto;
  height: 3rem;
  font-size: 1.5rem;
}
