/*Style the button*/
.box {
  display: flex;
  justify-content: center;
}

.button {
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  border: none;
  font-size: 18px;
  color: rgb(17, 1, 1);
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  font-weight: 900;
  width: 20rem;
}
/*Style the image*/
.button img {
  width: 100%;
  display: flex;
}
/*Make button active when you click it*/
.button:active {
  transform: translateY(4px);
}
/*Responsive */
@media screen and (max-width: 800px) {
  .button {
    width: 50%;
  }
  .button img {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .button {
    width: 70%;
  }
  .button img {
    width: 100%;
    display: flex;
  }
}
