.button {
  padding: 20px 20px 18px 20px;
  cursor: pointer;
  outline: none;
  display: flex;
  width: 18%;
  position: relative;
  border: none;
  font-size: 18px;
  color: rgb(17, 1, 1);
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  font-weight: 900;
}

.button img {
  width: 21%;
  display: flex;
  margin: -5% 5% -2% -2%;
}

.button:hover {
  background-color: #e0f8e0;
}
.button:active {
  transform: translateY(4px);
}
@media screen and (max-width: 800px) {
  .button {
    width: 18%;
  }
}
@media screen and (max-width: 500px) {
  .button {
    width: 18%;
  }
}
