.button {
  background-color: #293a7d;
  border-radius: 28px;
  border: 1px solid #293a7d;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  padding: 6px 58px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}
