.selection-page {
  width: 100%;
  text-align: center;
}
.selection-page .logo {
  padding: 1% 2%;
  margin-bottom: 5%;
}
.selection-page .logo img {
  width: 23%;
}
.selection-page .logo p {
  color: rgb(165, 178, 180);
  font-weight: 700;
  font-size: 20px;
}
.selection-page .radio {
  width: 30%;
  margin-left: 33.3%;
  padding: 1% 2%;
}
.selection-page .text {
  margin: 5% 3%;
  padding: 1% 2%;
  color: rgb(165, 178, 180);
}

@media screen and (max-width: 800px) {
  .selection-page {
    width: 100%;
  }
  .selection-page .radio {
    width: 92%;
    margin-left: 2%;
    margin-bottom: 15%;
  }
  .selection-page .logo img {
    width: 53%;
  }
  .selection-page .logo p {
    font-size: 12px;
  }
  .selection-page .text {
    font-size: 14px;
  }
}
